.page__of-courses {
  margin-top: 120px;

  &-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 920px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
    }
    &-content {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      @media (max-width: 920px) {
        align-items: center;
      }

      h2 {
        font-family: $sen;
        font-weight: 700;
        font-size: 56px;
        line-height: 85px;
        letter-spacing: -2px;
        color: $blue-gray;
        width: 85%;
        @media (max-width: 920px) {
          text-align: center;
          width: 100%;
        }
      }

      p {
        font-family: $inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        color: $gray;
        width: 70%;
        @media (max-width: 920px) {
          text-align: center;
          width: 90%;
        }
      }
    }

    img {
      width: 600px;
      height: 420px;
      object-fit: contain;
    }
  }

  &-info {
    margin-top: 80px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 43px 0;
      margin-top: 80px;

      @media (max-width: 1100px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      li {
        width: 540px;
        height: 230px;
        background: $light-blue;
        border-radius: 5px;
        padding: 31px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 7px;

        @media (max-width: 1150px) {
          width: 48%;
          height: 300px;
        }

        @media (max-width: 1100px) {
          width: 90%;
          height: 240px;
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          object-fit: contain;
          border-radius: 50%;
          background: $purple-violet;
          color: $white;
          padding: 10px;
          img {
            width: 25px;
            height: 25px;
            object-fit: cover;
            mix-blend-mode: lighten;
            filter: brightness(200%) contrast(200%);
          }
        }

        h3 {
          font-family: $sen;
          font-weight: 700;
          font-size: 33px;
          line-height: 64px;
          letter-spacing: 2px;
          color: $black;
        }

        p {
          width: 520px;
          font-family: $inter;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0px;
          color: $gray;
          @media (max-width: 1150px) {
            width: 80%;
          }
          @media (max-width: 1100px) {
            width: 100%;
          }
        }
      }
    }
  }

  &-teachers {
    margin-top: 80px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 43px 0;
      margin-top: 80px;

      @media (max-width: 1150px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
      }
    }
  }

  &-questions {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1150px) {
      justify-content: space-evenly;
    }

    &-content {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      h3 {
        width: 600px;
        font-family: $sen;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -2px;
        color: $blue-gray;
        @media (max-width: 1150px) {
          width: 500px;
          font-size: 35px;
        }
      }

      h4 {
        width: 600px;
        font-family: $inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        color: $gray;
        margin-bottom: 20px;
        @media (max-width: 1150px) {
          width: 500px;
          font-size: 13px;
        }
      }
    }

    img {
      width: 500px;
      height: 500px;
      object-fit: contain;

      @media (max-width: 1150px) {
        width: 400px;
        height: 400px;
      }
    }
  }
}

@media (max-width: 1110px) {
  .page__of-courses {
    margin-top: 100px;

    &-hero {
      flex-direction: column-reverse;
      text-align: center;

      &-content {
        align-items: center;
        text-align: center;
        width: 100%;
      }

      img {
        width: 40%;
        height: auto;
      }
    }

    &-info {
      ul {
        li {
          width: 100%;
          height: auto;
          padding: 25px;
        }
      }
    }

    &-questions {
      flex-direction: column-reverse;
      text-align: center;
      gap: 30px;

      &-content {
        align-items: center;
      }

      img {
        width: 40%;
        height: auto;
      }
    }
  }
}

@media (max-width: 920px) {
  .page__of-courses {

    &-hero {
      &-content {
        h2 {
          font-size: 42px;
          line-height: 60px;
        }
      }
    }

    &-info {
      ul {
        li {
          width: 90%;
          height: auto;
          padding: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .page__of-courses {

    &-hero {
      &-content {
        h2 {
          font-size: 36px;
          line-height: 50px;
        }
        p {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    &-info {
      ul {
        li {
          width: 100%;
          padding: 18px;
  
          h3 {
            font-size: 28px;
            line-height: 50px;
          }
  
          p {
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }

    &-questions {
      &-content {
        h3 {
          font-size: 32px;
          line-height: 48px;
        }
        h4 {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .page__of-courses {

    &-hero {
      &-content {
        h2 {
          font-size: 28px;
          line-height: 42px;
        }
        p {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }

    &-info {
      ul {
        li {
          width: 100%;
          padding: 15px;
  
          h3 {
            font-size: 24px;
            line-height: 40px;
          }
  
          p {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }

    &-questions {
      &-content {
        h3 {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: 1px;
        }
        h4 {
          font-size: 12px;
          line-height: 20px;
        }
      }
      img {
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .page__of-courses {

    &-questions {
      &-content {
        h4 {
          width: 80%;
        }
      }
      img {
        display: none;
      }
    }
  }
}

@media (max-width: 420px) {
  .page__of-courses {
    &-questions {
      &-content {
        h3 {
          width: 98%;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: 1px;
        }
        h4 {
          font-size: 12px;
          line-height: 20px;
          width: 80%;
        }
      }
      img {
        display: none;
      }
    }
  }
}

@media (max-width: 360px) {
  .page__of-courses {

    &-hero {
      &-content {
        h2 {
          font-size: 24px;
          line-height: 36px;
        }
        p {
          font-size: 10px;
          line-height: 18px;
        }
      }
    }

    &-info {
      ul {
        li {
          padding: 10px;
        }
      }
    }

    &-questions {
      &-content {
        h3 {
          font-size: 20px;
          line-height: 30px;
        }
        h4 {
          font-size: 10px;
          line-height: 18px;
        }
      }
    }
  }
}
