.advantages {
  margin: 80px 0;
  .advantages__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;

    &-arhive {
      width: 85px;
      padding: 8px;
      color: $purple-violet;
      font-family: $sen;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 2px;
      text-align: center;
      border: 1px solid $purple-violet;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 51px;
    margin-top: 80px;

    @media (max-width: 1160px) {
      gap: 23px;
    }

    @media (max-width: 900px) {
      flex-wrap: wrap;
    }

    li {
      width: 90%;
      height: 230px;
      background: $light-blue;
      border-radius: 5px;
      padding: 31px;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 7px;



      @media (max-width: 1270px) {
        width: 45% !important;
      }

      @media (max-width: 940px) {
        width: 350px;
      }

      @media (max-width: 900px) { 
        width: 90%;
        margin: 0 auto;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        object-fit: contain;
        border-radius: 50%;
        background: $purple-violet;
        color: $white;
        padding: 10px;
        img {
          width: 25px;
          height: 25px;
          object-fit: cover;
          mix-blend-mode: lighten;
          filter: brightness(200%) contrast(200%);
        }
      }

      h3 {
        font-family: $sen;
        font-weight: 700;
        font-size: 33px;
        line-height: 64px;
        letter-spacing: 2px;
        color: $black;
      }

      p {
        width: 520px;
        font-family: $inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        color: $gray;

        @media (max-width: 1160px) {
          width: 400px;
        }

        @media (max-width: 960px) {
          width: 370px;
          max-height: 112px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        @media (max-width: 900px) {
          width: 90%;
        }
      }
    }
  }
}
